<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{S}CRUM BOARD</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/custom.css"/>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<h1><span style="color:rgba(234, 19, 19, 0.63)">{S}</span>CRUM BOARD</h1>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-sm-4 div0">
      <p class="header">Backlog</p>
      <a onclick="createNote('div0', '')" href="#" class="floatRight"><span class="glyphicon glyphicon-plus"></span></a>
      <div th:each="note: ${div0}" class="row note img-rounded draggable" >
        <div class="col-md-10 img-rounded">
          <form th:id="'note' + ${note.htmlId}" action="/saveNote">
            <div class="row note_username img-rounded">
              <input type="text" th:value="${note.name}" style="width: 75%;" class="note_input" value="Username" />
              <a th:href="'javascript:saveMyNote('+ ${note.htmlId}+',\'div0\')'">
               <span class="glyphicon glyphicon-floppy-disk"></span>
             </a>
             <a th:href="'javascript:deleteMyNote('+ ${note.htmlId}+',\'div0\')'">
               <span class="glyphicon glyphicon-trash"></span>
             </a>
           </div>
           <div class="row note_content">
             <textarea rows="3" th:value="${note.content}" class="note_input">Content</textarea>
           </div>
         </form>
       </div>
      </div>
    </div>
    <div class="col-sm-4 div1">
      <p class="header">In Progress</p>


      <div th:each="note: ${div1}" class="row note img-rounded draggable" >
        <div class="col-md-10 img-rounded">
          <form th:id="'note' + ${note.htmlId}" action="/saveNote">
            <div class="row note_username img-rounded">
              <input type="text" th:value="${note.name}" style="width: 75%;" class="note_input" value="Username" />
              <a th:href="'javascript:saveMyNote('+ ${note.htmlId}+',\'div0\')'">
               <span class="glyphicon glyphicon-floppy-disk"></span>
             </a>
             <a th:href="'javascript:deleteMyNote('+ ${note.htmlId}+',\'div1\')'">
               <span class="glyphicon glyphicon-trash"></span>
             </a>
           </div>
           <div class="row note_content">
             <textarea rows="3" th:value="${note.content}" class="note_input">Content</textarea>
           </div>
         </form>
       </div>
      </div>
    </div>
    <div class="col-sm-4 div2">
      <p class="header">Complete</p>
        <div th:each="note: ${div2}" class="row note img-rounded draggable" >
      <div th:each="note: ${div2}" class="row note img-rounded draggable" >
        <div class="col-md-10 img-rounded">
          <form th:id="'note' + ${note.htmlId}" action="/saveNote">
            <div class="row note_username img-rounded">
              <input type="text" th:value="${note.name}" style="width: 75%;" class="note_input" value="Username" />
              <a th:href="'javascript:saveMyNote('+ ${note.htmlId}+',\'div0\')'">
               <span class="glyphicon glyphicon-floppy-disk"></span>
             </a>
             <a th:href="'javascript:deleteMyNote('+ ${note.htmlId}+',\'div2\')'">
               <span class="glyphicon glyphicon-trash"></span>
             </a>
           </div>
           <div class="row note_content">
             <textarea rows="3" th:value="${note.content}" class="note_input">Content</textarea>
           </div>
         </form>
       </div>
      </div>
    </div>     
  </div>

  <div class="row noteholder">
    <div class="col-sm-12 copyright">
    <p>Copyright &copy; 
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      <span style="color:rgba(234, 19, 19, 0.63)">
      {S}</span>CRUM<br />Made by <span style="text-decoration: underline;">C</span>hris and <span style="text-decoration: underline;">R</span>obbie
    </p>
    </div>
  </div>
  
<!--   <br style="clear:both"/> -->


</div>
</div>
</body>
</html>

<script th:inline="javascript">
$( window ).load(function() { 
	$( '.draggable' ).draggable();
});
var id = [[${max_id}]]
id--;

function saveMyNote(id,div) {

  var formId = '#note'+id;
  var form = document.getElementById(formId.replace('#',''));
  var name = form.elements[0].value;
  var content= form.elements[1].value;
  $.post( "/saveNote", { name: name, content: content, div:div ,id: id} );
}

function deleteMyNote(id,div) {
  var formId = '#note'+id;
  var form = document.getElementById(formId.replace('#',''));
  form.parentNode.parentNode.remove();
  $.post("/deleteNote",{id:id});

}
</script>

<script  th:inline="javascript">
 /*<![CDATA[*/
$(function(){
    $('.draggable').draggable({

        stop: function(event, ui) {
          var id = $(this).children(":first").children(":first").attr('id');
          id = id.replace('note','');
          if($(this).position().top >550 || $(this).position().left < 477){
            saveMyNote(id,'div0');
          }
          else if ($(this).position().left<870) {
            saveMyNote(id,'div1');
          } else {
            saveMyNote(id,'div2');
          }
        }
    }).resizable({
        stop:function(event,ui){}
    })
});
/*]]>*/

function createNote(divToAppendTo,htmlid) {
  if(htmlid == null || htmlid == '') {
    htmlid = id + 1;
    id++;
  }
  $div = $(' <div class="row note img-rounded draggable" > <div class="col-md-10 img-rounded"><form id ="note'+id+'" action="/saveNote"><div class="row note_username img-rounded"><input type="text" style="width: 75%;" name ="name" class="note_input" value="Name" /><a href="javascript:saveMyNote('+id+',\'div0\');">  <span class="glyphicon glyphicon-floppy-disk"></span></a><a href="javascript:deleteMyNote('+id+',\'div0\');"><span class="glyphicon glyphicon-trash"></span></a></div> <div class="row note_content"><textarea rows="3" name="content" class="note_input">Content</textarea></div></form></div></div>');

  $('.'+divToAppendTo).append($div);
  $( '.draggable' ).draggable();
}
</script>

