<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>CRUM Board</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/custom.css"/>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
      $( function() {
        $( "#draggable" ).draggable({ grid: [ 20, 20 ] })
        $( "#draggable2" ).draggable({ grid: [ 20, 20 ] })
        $( "#draggable3" ).draggable({ grid: [ 20, 20 ] })
      } );
  </script>

  <!-- Add new sticky note -->
  <script type="text/javascript">
    // var s '<div class="row note img-rounded" id="draggable"><div class="col-md-8 img-rounded"><div class="row note_username img-rounded"><p>Username</p></div><div class="row note_content"><p>" Content "</p></div></div></div>'
    // 
  </script>

</head>
<body>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-sm-4">
      <p class="header">Backlog</p>
      <a onclick="createNote()" href="#" class="floatRight"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="col-sm-4">
      <p class="header">In Progress</p>
      <a onclick="createNote()" href="#" class="floatRight"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="col-sm-4">
      <p class="header">Complete</p>
      <a onclick="createNote()" href="#" class="floatRight"><span class="glyphicon glyphicon-plus"></span></a>
    </div>     
  </div>

  <div class="row noteholder">
    <div class="col-sm-12">
    </div>
  </div>

  <br style="clear:both"/>

  <div class="row note img-rounded" id="draggable">
    <div class="col-md-8 img-rounded">
      <div class="row note_username img-rounded">
          <p>Username</p>
      </div>
      <div class="row note_content">
       <p>" Content "</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>