.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
    }

/*.col-md-4 .crumTitles{
	outline: solid 1px;
	height: 50px;
}


.col-md-4 .crumContent{
	outline: solid 1px;
	height: 400px;
}*/

.col-md-4 {
	outline: solid 1px;
}

