body {
	background-color: #cccccc
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
    }

.col-sm-4 {
	outline: solid 1px;
	height: 550px;
	background-color: white;
	padding:0px;
	margin:0px;
}

.note_username {
	padding-left: 5%;
   border-bottom-style: solid;
   border-bottom-width: thin;
   border-right-width:thin;
   border-right-style:solid;
   max-width:60%;
   margin-left: 1px;
}

.note {
	border-color: black;
	border-style: solid;
	border-width: thin;
	max-width: 15%;
	background-color: #ffff80;
}

.note_content{
	padding-top: 15px;
	padding-left: 10%;

}

/*.container-fluid {
	height: 100%;
}*/

p.header {
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-style: bold;
}

.floatRight {
	float: right;
	display: inline-block;
}

.note_input{
    background:rgba(0,0,0,0);
    border:none;
}

.padding {
	margin:10px;
	padding:10px;
}



.ui-widget-header p, .ui-widget-content p { 
	margin: 0; 
}

#snaptarget { 
	height: 140px;
}